@import "tailwindcss";

@theme {
  --color-primary: #3aa39f;
  --color-secondary: #445daa;
  --color-tertiary: #2d3748;
  --color-quaternary: #4a5568;
  --color-quinary: #718096;
  --color-senary: #a0aec0;
  --color-septenary: #cbd5e0;
  --color-octonary: #e2e8f0;
  --color-nonary: #edf2f7;
  --color-denary: #f7fafc;
  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --color-background: #fff;
  --color-cerulean-blue-100: #d9edff;
  --color-create-100: #5bad80;
  --color-create-200: #50cb93;
}
